<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <pre>
            <p>
                הפרויקט נעשה ע"י:
            </p>
            <ul>
                <li>    שמואל ליבסקינד - 040675605
            </li>
                <li>   ישראל לפה - 301624375
            </li>
                </ul>
            <p>
במסגרת פרויקט בקורס גאווה 
</p>
            </pre>
        </div>
        <div class="col-sm-3">

        </div>



    </div>
</div>