<h3> רשימת פגישות למטופל</h3> 

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align:right">#</th>
                <th style="text-align:right">שם המטופל</th>

                <th style="text-align:right">שם השרות</th>
                <th style="text-align:right">האם שולם</th>    
                <th style="text-align:right">תאריך</th>    
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in items">
                <td>{{m.no}}</td>

                <td>{{m.patientName}}</td>
                <td>{{m.serviceName}}</td>
                <td>{{m.isPaid}}</td>
                <td>{{m.date| date:'medium'}}</td>

            </tr>

        </tbody>
    </table>
</div>
